<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
    <script src="/assets/global/helpers/configHelper.js?v=1.0.0"></script>

    <link rel="stylesheet" href="/assets/<%= componentName %>/style.css?v=4.1.0">
    
    <link rel="stylesheet" href="/assets/<%= componentName %>/partial-header.css?v=4.1.0">
    <link rel="stylesheet" href="/assets/<%= componentName %>/partial-podium.css?v=4.1.0">
    <link rel="stylesheet" href="/assets/<%= componentName %>/partial-table.css?v=4.1.0">
</head>
<body style="background: transparent; margin: 0; padding: 0; display: flex; justify-content: center; align-items: center; height: 100vh; width: 100vw; overflow: hidden;">
    
    <div id="leaderboard-container">
        <div class="ambient-glow"></div>
        
        <%- include('partials/header/view') %>
        
        <div id="podium-section" class="podium-container"></div>

        <%- include('partials/table/view') %>
    </div>

    
    <script src="/assets/<%= componentName %>/partial-podium.js?v=4.1.0"></script>
    <script src="/assets/<%= componentName %>/partial-table.js?v=4.2.0"></script>
    
    <script src="/assets/<%= componentName %>/script.js?v=4.1.0"></script>
</body>
</html>