<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700;800&display=swap" rel="stylesheet">
    
    <script src="/assets/global/helpers/configHelper.js?v=<%= Version %>"></script>
    <link rel="stylesheet" href="/assets/<%= componentName %>/style.css?v=<%= Version %>">
    <link rel="stylesheet" href="/assets/<%= componentName %>/partial-header.css?v=<%= Version %>">
    <link rel="stylesheet" href="/assets/<%= componentName %>/partial-podium.css?v=<%= Version %>">
    <link rel="stylesheet" href="/assets/<%= componentName %>/partial-table.css?v=<%= Version %>">
</head>
<body style="margin: 0; padding: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; background-color: #030611; overflow: hidden;">
    
    <div id="leaderboard-container">
        <div class="ambient-glow"></div>
        
        <header class="header-container">
            <%- include('partials/header/view') %>
        </header>
        
        <div id="podium-section" class="podium-container">
            </div>

        <div class="table-container">
            <%- include('partials/table/view') %>
        </div>
    </div>

    <script src="/assets/<%= componentName %>/script.js?v=<%= Version %>"></script>
    <script src="/assets/<%= componentName %>/partial-podium.js?v=<%= Version %>"></script>
    <script src="/assets/<%= componentName %>/partial-table.js?v=<%= Version %>"></script>
</body>
</html>